.input-with-tags {
  /* width: 50vw; */
}
.tags-wrapper {
  display: flex;
}
.input-wrapper {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.categories-info-box {
  height: 300px;
  padding: 20px;
  position: absolute;
  top: 0px;
  right: -400px;
  border: 1px black dashed;
}
.category-configure-rows {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
}
